<!DOCTYPE html>
<html>
  <head>
    <title>Tempest - <%= roomid %></title>
    <script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="../javascripts/room.js"></script>
  </head>
  <body>
    <% if (exists) { %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-7">
            <div class="roomtitle"><strong class="roomid"><%= roomid %></strong></div>
            <div class="form-control" id="messagebox"></div>
            <% if (user) { %>
              <form id="messageform">
                <input type="hidden" id="user" value=<%= user.username %>>
                <input type="hidden" id="room" value=<%= roomid %>>
                <div class="input-group">
                  <input type="text" id="messageinput" class="form-control" autocomplete="off">
                  <div class="input-group-btn"><input type="submit" value="Send" class="btn btn-default"></div>
                </div>
              </form>
            <% } else { %>
              <div class="container">
                <strong>Log in or sign up to post</strong>
              </div>
            <% } %>
          </div>
          <div class="col-sm-5">
            <h3><%= roomid %></h3>
            <p><%= description %></p>
            <strong>Active users</strong>
            <div id="activeusers">
            </div>
          </div>
        </row>
      </div>
    <% } else { %>
      <div class="alert alert-danger" role="alert">
        <p>The room you are looking for does not exist.</p>
      </div>
    <% } %>
  </body>
</html>
