<!DOCTYPE html>
<html>
  <head>
    <title><%= profile.username %></title>
  </head>
  <body>
    <div class="container">
      <div style="width: 25%">
        <% if(user) {%>
          <a href="/settings" class="btn btn-default" style="float:right">Edit profile</a>
        <% } %>
        <h1><%= profile.firstname %> <%= profile.lastname %></h1><br>
      </div>
      </table>
      <p style="color:gray"><%= profile.username %></p><br>
      <p><%= profile.description %></p>
    </div>
  </body>
</html>
