<!DOCTYPE html>
<html>
  <head>
    <title><%= profile.username %></title>
  </head>
  <body>
    <div class="container">
      <table>
        <tr>
          <td>
            <h2><%= profile.firstname %> <%= profile.lastname %></h2>
          </td>
          <% if(user) {%>
            <td>
              <a href="/settings" class="btn btn-tempest editprofile">Edit profile</a>
            </td>
          <% } %>
        </tr>
      </table>
      <p style="color:gray">@<%= profile.username %></p><br>
      <p><%= profile.description %></p>
    </div>
  </body>
</html>
